{% extends "layout.html" %}

{% block content %}
<a href="/definitions/add">Dodaj</a>
<br>
<table>
<thead><tr><th>Skąd</th><th>Kiedy</th><th>Dokąd</th><th>Kiedy</th><th>Maksymalna wartość</th></tr></thead>
<tbody>
 {%for dto in definitions%}
    <tr><td>{{dto.destination}}</td><td>{{dto.departure_date}}</td><td>{{dto.origin}}</td><td>{{dto.arrival_date}}</td><td>{{dto.max_worth_to_pay}}</td>
    <td>
        <form action="/definitions/{{dto.id}}/delete" method="post">
        <input type="submit" name="usuń" value="Usuń" />
        </form>
    </td>
    </tr>
 {%endfor%}
</tbody>
</table>
{% endblock %}