{% extends "layout.html" %}

{% block content %}
<a href="/definitions/add"><button>Dodaj</button></a>
<br>
<table>
<thead><tr><th>Skąd</th><th>Kiedy</th><th>Dokąd</th><th>Kiedy</th><th>Maksymalna wartość</th><th>Akcje</th></tr></thead>
<tbody>
 {%for dto in definitions%}
    <tr><td>{{dto.destination}}</td><td>{{dto.departure_date}}</td><td>{{dto.origin}}</td><td>{{dto.arrival_date}}</td><td>{{dto.max_worth_to_pay}}</td>
    <td>
        <form action="/definitions/{{dto.id}}/delete" method="post">
        <input type="submit" name="usuń" value="Usuń" />
        </form>
    </td>
     <td>
        <form action="/definitions/{{dto.id}}/check-trips" method="post">
        <input type="submit" name="check" value="Sprawdź loty" />
        </form>
    </td>
    <td>
        <a href="/definitions/{{dto.id}}/trips"><button>Lista lotów</button></a>
    </td>
    </tr>
 {%endfor%}
</tbody>
</table>
{% endblock %}