{% extends "layout.html" %}

{% block content %}
    <form method="POST">
        Skąd: <input type="text" name="destination" value={{setup.destination}}><br>
        Kiedy [rrrr-mm-dd]: <input type="text" name="departure_date" value={{setup.departure_date}}><br>
        Dokąd: <input type="text" name="origin" value={{setup.origin}}><br>
        Kiedy [rrrr-mm-dd]: <input type="text" name="arrival_date" value={{setup.arrival_date}}><br>
        Ile dorosłych: <input type="number" name="adult" value={{setup.adult}}><br>
        Ile młodzieży: <input type="number" name="teen" value={{setup.teen}}><br>
        Ile dzieci: <input type="number" name="child" value={{setup.child}}><br>
        Ile dni do przodu: <input type="number" name="flex_days" value={{setup.flex_days}}><br>
        <input type="submit" value="Submit"><br>
  </form>
{% endblock %}